.budgetContainer {
    padding: 30px;
    text-align: center;
    color: rgb(3, 3, 116);
}

.header {
    font-size: xxx-large;
    text-align: left;
}

.budgetCard{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}