.navbar {
    background:black;
    color: white;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    height: 70px;
    box-shadow: 2px 1.5px 1px #888888;
  }
  
  .welcome{
    display: flex;
    align-items: center;
  }

  .navbar-link {
    display: flex;
    align-items: center;
    padding: 20px;
    text-decoration: none;
}

a {  
  text-decoration: none;
  color: ivory;
  font-family: 'Bungee', cursive;
 ;}

 a.active {
   color: aqua;
 }